fit_to_page_width   a
fit_to_page_width_smart   s

screen_down         <C-d>
screen_up         	<C-u>
goto_page_with_page_number		gp

move_down           j
move_up             k
move_left           l
move_right          h

add_highlight		x
goto_highlight		gx
goto_highlight_g	g<S-x>
delete_highlight	dx

execute_command_t <S-t>
quit		q
