background_color    0.18 0.2 0.25

highlight_color_r 0.97 0.26 0.21
highlight_color_g 0.13 0.60 0.33
highlight_color_a 0.00 0.59 0.53 
highlight_color_b 0.25 0.32 0.70
highlight_color_p 0.91 0.12 0.83

text_highlight_color    0.00 0.59 0.53
highlight_color_x		0.00 0.59 0.53

execute_command_t python /home/bersp/.config/sioyek/translate.py "%3"
